<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div th:insert="layout::header"></div>
    <div th:object="${like}"
         class="container-fluid position-relative d-flex flex-sm-wrap flex-md-nowrap justify-content-between gap-2 mt-3">
        <div th:each="s,status:${like.getLikeMap()}" class="card position-relative shadow-sm"
             style="width: 18rem;padding: 10px;background: #e9ecef">
            <div style="width: 100%;height: 15rem">
                <a th:href="@{/soccer/detail/__${s.getId()}__}">
                    <img style="width: 100%;height: 100%" class="card-img-top" th:src="${s.key.image}" alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${s.key.name}"></h5>
                <div class="card-text">
                <p> Kinh nghiệm :
                    <span th:text="${s.key.experience}"></span> năm
                </p>
                <p>
                    Đội tuyển :<span th:text="${s.key.team.name}"></span>
                </p>
                <p>
                    Vị Trí :<span th:text="${s.key.position.name}"></span>
                </p>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${soccerPage.totalPages>0}" class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:class="${!soccerPage.hasPrevious()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/soccer/list(page=${(soccerPage.number)-1},searchName=${searchName},size=${size},dateStart=${dateStart},dateEnd=${dateEnd})}">Trước</a>
                </li>
                <li class="page-link disabled">
                    <span th:text="${soccerPage.number +1}"></span>/<span
                        th:text="${soccerPage.totalPages}"></span>
                </li>
                <li th:class="${!soccerPage.hasNext()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/soccer/list(page=${(soccerPage.number)+1},searchName=${searchName},size=${size},dateStart=${dateStart},dateEnd=${dateEnd})}">Sau</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div th:insert="layout::footer"></div>

</body>
</html>